/*
 Theme Name: OCL4EdTheme
 Theme URI: http://gitorious.org/wikieducator/ocl4edtheme
 Description: Responsive child theme for OERu
 Author: Jim Tittsler
 Author URI: http://WikiEducator.org/User:JimTittsler
 Template: responsive
 Version: 0.0.1
 Tags: responsive-layout, fluid-layout
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

.site-name a {
	color: #6FA92E;
}

h1, h2, h3 {
	color: #6FA92E;
}

th, td, table {
	border: none;
}

.entry-title {
	display: none;
}

#featured p {
	text-align: left;
}

.featured-title {
	font-size: 34px;
	font-weight: 400;
	text-align: left;
	padding-left: 40px;
}

.button {
	padding: 7px 20px;
	text-transform: uppercase;
	border-bottom: 3px solid #5a9319;
	display: inline-block;
	border-radius: 3px;
	background-color: #6fa92e;
	margin-bottom: 10px;
	color: #fff;
}

.warningbutton {
	padding: 7px 20px;
	text-transform: uppercase;
	border-bottom: 3px solid #cc7019;
	display: inline-block;
	border-radius: 3px;
	background-color: #ea9841;
	margin-bottom: 10px;
	color: #fff;
}

.tright {
	float: right;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.eXe-iDevice {
	margin-top: 0px !important;
}

#footer {
		background-color: #42484D;
		color: #868A8D;
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 100%;
}

#footer a {
	color: #6FA92E;
}

.printfooter {
	display: none;
}

.poweredby {
	float: right;
}

/* MediaWiki:Common.css */
.onlyinprint,.noeditsection {display: none}

table.wikitable,
table.prettytable {
  margin: 1em 1em 1em 1em;
  background: #f9f9f9;
  border: 1px #aaa solid;
  border-collapse: collapse;
}

table.wikitable th, table.wikitable td,
table.prettytable th, table.prettytable td {
  border: 1px #aaa solid;
  padding: 0.2em;
}

table.wikitable th,
table.prettytable th {
  background: #f2f2f2;
  text-align: center;
}

table.wikitable caption,
table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
  font-weight: bold;
}

/* Style for OERu1 table created by User:Mackiwg */

table.oeru1 {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;    
} 

table.oeru1 {
    border: solid #ccc 1px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #ccc;         
}

table.oeru1 tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
table.oeru1 td, .oeru1 th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0.2em;
    text-align: left;
    vertical-align: top;
}

table.oeru1 th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

table.oeru1 td:first-child, table.oeru1 th:first-child {
    border-left: none;
}

table.oeru1 th:first-child {
    border-radius: 6px 0 0 0;
}

table.oeru1 th:last-child {
    border-radius: 0 6px 0 0;
}

table.oeru1 th:only-child{
    border-radius: 6px 6px 0 0;
}

table.oeru1 tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

table.oeru1 tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
} 

.oeru_copyright {
  margin: 1em 1em 1em 1em;
  padding: 1em;
  background: #f6f9ed;
  border: 1px #aaa solid;
  border-collapse: collapse;
}

.onlyinprint,.noeditsection {display: none}

table.wikitable,
table.prettytable {
  margin: 1em 1em 1em 1em;
  background: #f9f9f9;
  border: 1px #aaa solid;
  border-collapse: collapse;
}

table.wikitable th, table.wikitable td,
table.prettytable th, table.prettytable td {
  border: 1px #aaa solid;
  padding: 0.2em;
}

table.wikitable th,
table.prettytable th {
  background: #f2f2f2;
  text-align: center;
}

table.wikitable caption,
table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
  font-weight: bold;
}

/* Style for OERu1 table created by User:Mackiwg */

table.oeru1 {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;    
} 

table.oeru1 {
    border: solid #ccc 1px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #ccc;         
}

table.oeru1 tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
table.oeru1 td, .oeru1 th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0.2em;
    text-align: left;
    vertical-align: top;
}

table.oeru1 th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

table.oeru1 td:first-child, table.oeru1 th:first-child {
    border-left: none;
}

table.oeru1 th:first-child {
    border-radius: 6px 0 0 0;
}

table.oeru1 th:last-child {
    border-radius: 0 6px 0 0;
}

table.oeru1 th:only-child{
    border-radius: 6px 6px 0 0;
}

table.oeru1 tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

table.oeru1 tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
} 

.oeru_copyright {
  margin: 1em 1em 1em 1em;
  padding: 1em;
  background: #f6f9ed;
  border: 1px #aaa solid;
  border-collapse: collapse;
}
device {
padding: 1px;
width:100%;
background: #F6F9ED;
}

.WEidevice.objectives,
.WEidevice.preknowledge,
.WEidevice.case_study,
.WEidevice.definition,
.WEidevice.competency,
.WEidevice.key_points,
.WEidevice.media,
.WEidevice.outcomes,
.WEidevice.review,
.WEidevice.summary,
.WEidevice.web_resources,
.WEidevice.wikipedia,
.WEidevice.wiktionary,
.WEidevice.howlong
 {
    border: 1px solid #AAAAAA;
}
.WEidevice.activity,
.WEidevice.assessment,
.WEidevice.discussion,
.WEidevice.reading,
.WEidevice.reflection,
.WEidevice.key_points {
   border: 1px solid #AAAAAA;
   border-radius: 8px;
}

table.WEidevice th {
    text-align:left;  
    font-weight: bolder;
}
.WEideviceinner{
    padding-left: 8ex;
    color: black;
}
.WEfeedback  {
    text-align:left;
    border: 0px;
}

.iframeonly { display: none; }

/* Widgets */
div.weQuiz {
	border: solid 1px #aaa;
	padding: 1ex;
	background-color: #f6f9ed;
}
